.container
  section
    div#haberler
      div.haber
        position: relative,
        border: 3px solid
        border-radius: 10px
        width: 100%
        img
          display: inline-block
          border-radius: 10px
        