@use 'colors' as *
@use 'commons'

main div#haberler div.haber
  @include commons.border($fg-primary)
  display: flex
  padding: 1.5em
  margin-bottom: 2em
  @media screen and (max-width: 52em)
    margin-bottom: 1em
    padding: 0.75em
    flex-direction: column
  div.haber-yazilar
    display: flex
    justify-content: center
    flex-direction: column
    h1
      margin: 0
    p
      font-size: 1.2em
  img
    border-radius: 0.5em
    height: 10em
    display: inline-block
    margin-right: 2em
    @media screen and (max-width: 52em)
      width: 100%
      margin-bottom: 1em
      height: auto
