.container
  section
    h1
      font-size: 200%
    article
      font-size: 150%
    div.uye
      position: relative
      height: 7em
      padding: 1em
      padding-top: 0
      display: inline-block
      border: 3px solid
      border-radius: 10px
      margin-bottom: 1.5em
      margin-right: 1.5em
      img
        width: 5em
        height: auto
        margin-top: 1em
        margin-right: 1em
        border-radius: 10px
        display: inline-block
      div
        display: inline-block
        position: relative
        h1
          font-size: 150%
        h2
          font-size: 130%
          line-height: 0