.container
  section
    width: 100%
    position: relative
    img#underwater
      width: 100%
    #text-over-underwater-image
      font-size: 3vw
      text-align: center
      padding: 2vw
      position: absolute
      top: 1em
      @media screen and (max-width: 70em)
        font-size: 4vw