<!DOCTYPE html>
<html lang="en">
  <head>
    {% include './essential.html' %}
    <title>CALROV Blog</title>
    <meta
      name="keywords"
      content="Teknofest, Cağaloğlu Anadolu Lisesi, CAL, ROV, AUV, CALROV, insansız, su altı, sistemleri, araç, blog, yazılar"
    />
    <meta
      name="description"
      content="CALROV takımı üyeleri tarafından yazılan blog yazılarına buradan ulaşabilirsiniz."
    />
    <meta name="og:title" property="og:title" content="Blog - CALROV" />
    <meta
      name="og:description"
      property="og:description"
      content="CALROV takımı üyeleri tarafından yazılan blog."
    />
    <meta
      property="og:image"
      name="og:image"
      content="https://www.calrovteam.com/images/calrovlogo.png"
    />
    <meta
      property="og:url"
      name="og:url"
      content="https://www.calrovteam.com/blog"
    />
    <meta property="og:locale" name="og:locale" content="tr_TR" />
    <meta property="og:site_name" name="og:site_name" content="CALROV" />
    <meta
      name="twitter:title"
      property="twitter:title"
      content="Blog - CALROV"
    />
    <meta
      name="twitter:description"
      property="twitter:description"
      content="CALROV takımından haberleri bu sayfadan takip edebilirsiniz."
    />
    <meta
      name="twitter:image"
      property="twitter:image"
      content="https://www.calrovteam.com/images/calrovlogo.png"
    />
    <meta
      name="twitter:card"
      property="twitter:card"
      content="https://www.calrovteam.com/images/talay-sualtinda-fotograf.jpg"
    />
    <link rel="stylesheet" href="/css/posts.css" />
  </head>
  <body>
    <div class="container">
      {% include './navbar.html' %}
      <section>
        <h1>CALROV Blog</h1>
        <div id="posts">
          {% for post in posts %}
          <div class="post">
            <a href="/blog/{{ post['_id'] }}">
              <img src="{{ post['thumbnail'] }}" alt="yazı küçük resim" />
              <div>
                <h1>{{ post["title"] }}</h1>
                <p>{{ post["summary"] }}</p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
        <br />
        <div id="paginator">
          <a
            id="leftarrow"
            href="{{ '/blog?p=' if not firstpage else '#'}}{{ pageno-1 if not firstpage else ''}}"
            class="{{'disabled' if firstpage else ''}}"
            ><i class="fas fa-chevron-left fa-2x"></i
          ></a>
          <span id="pagenumber">{{ pageno }}</span>
          <a
            id="rightarrow"
            href="{{ '/blog?p=' if not lastpage else '#'}}{{ pageno-1 if not lastpage else ''}}"
            class="{{'disabled' if lastpage else ''}}"
            ><i class="fas fa-chevron-right fa-2x"></i
          ></a>
        </div>
      </section>
      {% include './footer.html' %}
    </div>
  </body>
</html>
