<!DOCTYPE html>
<html lang="en">
  <head>
    {% include './essential.html' %}
    <title>Haberler - CALROV</title>
    <meta
      name="keywords"
      content="Teknofest, Cağaloğlu Anadolu Lisesi, CAL, ROV, AUV, CALROV, insansız, su altı, sistemleri, araç, haber, haberler"
    />
    <meta name="description" content="CALROV takımından haberleri bu sayfadan takip edebilirsiniz." />
    <meta name="og:title" property="og:title" content="Haberler - CALROV" />
    <meta
      name="og:description"
      property="og:description"
      content="CALROV, Cağaloğlu Anadolu Lisesi Yapay Zeka ve Programlama Kulübü bünyesinde Teknofest İnsansız Su Altı Sistemleri kateogirisinde yarışmak üzere kurulmuş bir takımdır."
    />
    <meta property=og:image name=og:image content=https://www.calrovteam.com/images/calrovlogo.png><meta property=og:url name=og:url
    content=https://www.calrovteam.com/haberler>
    <meta property="og:locale" name="og:locale" content="tr_TR" />
    <meta property="og:site_name" name="og:site_name" content="CALROV" />
    <meta name="twitter:title" property="twitter:title" content="Haberler - CALROV" />
    <meta name="twitter:description" property="twitter:description" content="CALROV takımından haberleri bu sayfadan takip edebilirsiniz." />
    <meta name=twitter:image property=twitter:image content=https://www.calrovteam.com/images/calrovlogo.png><meta name=twitter:card
    property=twitter:card content=https://www.calrovteam.com/images/talay-sualtinda-fotograf.jpg><link rel=stylesheet href=/css/haberler.css>
  </head>
  <body>
    <div class="container">
      {% include './navbar.html' %}
      <section>
        <div id="haberler">
          {% for haber in haberler %}
          <div class="haber">
            <a href="{{haber['link']}}"
              ><img src="{{haber['thumbnail']}}" alt="haber küçük resim" />
              <div>
                <h1>{{ haber["title"] }}</h1>
                <p>{{ haber["summary"] }}</p>
              </div></a
            >
          </div>
          {% endfor %}
        </div>
        <br />
        <div id="paginator">
          <a
            id="leftarrow"
            href="{{ '/haberler?p=' if not firstpage else '#'}}{{ pageno-1 if not firstpage else ''}}"
            class="{{'disabled' if firstpage else ''}}"
            ><i class="fas fa-chevron-left fa-2x"></i></a
          ><span id="pagenumber">{{ pageno }}</span
          ><a
            id="rightarrow"
            href="{{ '/haberler?p=' if not lastpage else '#'}}{{ pageno+1 if not lastpage else ''}}"
            class="{{'disabled' if lastpage else ''}}"
            ><i class="fas fa-chevron-right fa-2x"></i
          ></a>
        </div>
      </section>
      {% include './footer.html' %}
    </div>
  </body>
</html>
