<!DOCTYPE html>
<html lang="en">
  <head>
    {% include './essential.html' %}
    <title>Hakkımızda - CALROV</title>
    <meta
      name="keywords"
      content="Teknofest, Cağaloğlu Anadolu Lisesi, CAL, ROV, AUV, CALROV, insansız, su altı, sistemleri, araç, hakkımızda, hakkında, takım, üyeler"
    />
    <meta
      name="description"
      content="CALROV, Cağaloğlu Anadolu Lisesi Yapay Zeka ve Programlama Kulübü bünyesinde Teknofest İnsansız Su Altı Sistemleri kategorisinde yarışmak üzere kurulmuş bir takımdır."
    />
    <meta name="og:title" property="og:title" content="Hakkımızda - CALROV" />
    <meta
      name="og:description"
      property="og:description"
      content="CALROV, Cağaloğlu Anadolu Lisesi Yapay Zeka ve Programlama Kulübü bünyesinde Teknofest İnsansız Su Altı Sistemleri kategorisinde yarışmak üzere kurulmuş bir takımdır."
    />
    <meta
      property="og:image"
      name="og:image"
      content="https://www.calrovteam.com/images/calrovlogo.png"
    />
    <meta
      property="og:url"
      name="og:url"
      content="https://www.calrovteam.com/hakkimizda"
    />
    <meta property="og:locale" name="og:locale" content="tr_TR" />
    <meta property="og:site_name" name="og:site_name" content="CALROV" />
    <meta
      name="twitter:title"
      property="twitter:title"
      content="Hakkımızda - CALROV"
    />
    <meta
      name="twitter:description"
      property="twitter:description"
      content="CALROV, Cağaloğlu Anadolu Lisesi Yapay Zeka ve Programlama Kulübü bünyesinde Teknofest İnsansız Su Altı Sistemleri kategorisinde yarışmak üzere kurulmuş bir takımdır."
    />
    <meta
      name="twitter:image"
      property="twitter:image"
      content="https://www.calrovteam.com/images/calrovlogo.png"
    />
    <meta
      name="twitter:card"
      property="twitter:card"
      content="https://www.calrovteam.com/images/talay-sualtinda-fotograf.jpg"
    />
    <link rel="stylesheet" href="/css/hakkimizda.css" />
  </head>
  <body>
    <div class="container">
      {% include './navbar.html' %}
      <section>
        <h1>Hakkımızda</h1>
        <article>
          CALROV, Cağaloğlu Anadolu Lisesi Yapay Zekâ ve Programlama Kulübü<br />
          bünyesinde Ocak, 2021’de İnsansız Su Altı Sistemleri üzerine
          kurulmuş<br />
          bir takımdır. Ekip üyeleri çoğunlukla hazırlık sınıfı öğrencilerden<br />
          oluşmakla beraber faaliyetlerini yazılım, tasarım, mekanik ve<br />
          elektronik ekibi olmak üzere dört ekibe ayrılarak yürütmektedir.<br />
          CALROV ekibi; ekip ruhuna sahip, alanda<br />
          çalışmalar ve araştırmalar yapmış, hedef odaklı çalışan, millî ve<br />
          manevî değerlerini kişisel çıkarlarından önde gören kişilerden<br />
          oluşmaktadır.<br />
          CALROV takımı ilk yılı olmasına rağmen Teknofest 2021'de "Talay"
          isimli insansız su altı aracıyla Ön Tasarım Raporu ve Kritik Tasarım
          Raporu aşamalarını geçerek finale katılmaya hak kazanmıştır.<br />
        </article>
        <h1>Takım Üyeleri:</h1>
        <br />
        <div id="uyeler">
          {% for uye in uyeler %}
          <a href="/uyeler/{{uye['_id']}}">
          <div class="uye">
            <img
              src="{{ uye['thumbnail'] }}"
            />
            <div>
              <h1>{{ uye["role"] }}</h1>
              <h2>{{ uye["name"] }} {{ uye["surname"].upper() }}</h2>
            </div>
          </div>
          </a>
          {% endfor %}
        </div>
      </section>
      {% include './footer.html' %}
    </div>
  </body>
</html>
