<!DOCTYPE html>
<html lang="en">
  <head>
    {% include './essential.html' %}
    <title>İletişim - CALROV</title>
    <meta
      name="keywords"
      content="Teknofest, Cağaloğlu Anadolu Lisesi, CAL, ROV, AUV, CALROV, insansız, su altı, sistemleri, araç, iletişim, bilgiler"
    />
    <meta
      name="description"
      content="Bu sayfada CALROV takımı ile iletişim kurabileceğiniz iletişim bilgileri bulunmaktadır."
    />
    <meta name="og:title" property="og:title" content="İletişim - CALROV" />
    <meta
      name="og:description"
      property="og:description"
      content="Bu sayfada CALROV takımı ile iletişim kurabileceğiniz iletişim bilgileri bulunmaktadır."
    />
    <meta
      property="og:image"
      name="og:image"
      content="https://www.calrovteam.com/images/calrovlogo.png"
    />
    <meta
      property="og:url"
      name="og:url"
      content="https://www.calrovteam.com/iletisim"
    />
    <meta property="og:locale" name="og:locale" content="tr_TR" />
    <meta property="og:site_name" name="og:site_name" content="CALROV" />
    <meta
      name="twitter:title"
      property="twitter:title"
      content="İletişim - CALROV"
    />
    <meta
      name="twitter:description"
      property="twitter:description"
      content="Bu sayfada CALROV takımı ile iletişim kurabileceğiniz iletişim bilgileri bulunmaktadır."
    />
    <meta
      name="twitter:image"
      property="twitter:image"
      content="https://www.calrovteam.com/images/calrovlogo.png"
    />
    <meta
      name="twitter:card"
      property="twitter:card"
      content="https://www.calrovteam.com/images/talay-sualtinda-fotograf.jpg"
    />
    <link rel="stylesheet" href="/css/iletisim.css" />
  </head>
  <body>
    <div class="container">
      {% include './navbar.html' %}
      <section>
        <h1>İletişim</h1>
        E-Posta: <a href="mailto:calrovteam@gmail.com">calrovteam@gmail.com</a
        ><br />
        Instagram: <a href="https://instagram.com/calrovteam">@calrovteam</a
        ><br />
        Adres:
        <a
          href="https://google.com/maps/search/Molla%20Fenari%20Mah.%20Bab-%C4%B1%20Ali%20Cad.%20No%3A1%20Fatih%2F%C4%B0stanbul"
          >Molla Fenari Mah. Bab-ı Ali Cad. No:1 Fatih/İstanbul</a
        ><br />
      </section>
      {% include './footer.html' %}
    </div>
  </body>
</html>
