

<!DOCTYPE html>
<html lang=en>
  <head>
    {% include './essential.html' %} 
    <title>Sponsorluk - CALROV</title>
    <meta name=keywords content="Teknofest, Cağaloğlu Anadolu Lisesi, CAL, ROV, AUV, CALROV, insansız, su altı, sistemleri, araç, sponsorluk, sponsor">
    <meta name=description content="Bu sayfada takımımızın sponsorları ve takımımızla işbirliği hakkında bilgiler bulabilirsiniz.">
    <meta name=og:title property=og:title content="Sponsorluk - CALROV">
    <meta name=og:description property=og:description content="Bu sayfada takımımızın sponsorları ve takımımızla işbirliği hakkında bilgiler bulabilirsiniz.">
    <meta property=og:image name=og:image content=https://www.calrovteam.com/images/calrovlogo.png>
    <meta property=og:url name=og:url content=https://www.calrovteam.com/sponsorluk>
    <meta property=og:locale name=og:locale content=tr_TR>
    <meta property=og:site_name name=og:site_name content=CALROV>
    <meta name=twitter:title property=twitter:title content="Sponsorluk - CALROV">
    <meta name=twitter:description property=twitter:description content="Bu sayfada takımımızın sponsorları ve takımımızla işbirliği hakkında bilgiler bulabilirsiniz.">
    <meta name=twitter:image property=twitter:image content=https://www.calrovteam.com/images/calrovlogo.png>
    <meta name=twitter:card property=twitter:card content=https://www.calrovteam.com/images/talay-sualtinda-fotograf.jpg>
    <link rel=stylesheet href=/css/sponsorluk.css>
  </head>
  <body>
    <div class=container>
      {% include './navbar.html' %} 
      <section>
        <h1>Sponsorluk</h1>
        <article> Takımımızın aracını hayata geçirmek için maddi kaynaklara ihtiyacı bulunmakta ve bu da yalnızca sponsorlar yoluyla karşılanabilmektedir.<br> Eğer takımımızın çalışmalarını desteklemek ve bize bir katkıda bulunmak istiyorsanız siz de takımımızla işbirliği yapabilirsiniz. Takımımızla işbirliği için <a href=mailto:sponsorluk@calrovteam.com>sponsorluk@calrovteam.com</a> mail adresi üzerinden iletişime geçebilirsiniz. </article>
        <h1>2022 Sponsorlarımız:</h1>
        <h2>Platin Sponsorlar</h2>
        <a href=https://gzt.com><img src=/images/gzt.png alt="gzt logo" class=sponsor width=220vw></a>
        <h2>Altın Sponsorlar</h2>
        <a href=https://soldex.com.tr><img src=/images/soldex.png alt="soldex logo" class=sponsor width=220vw></a><a href=https://odakpcb.com><img src=/images/odakpcb.png alt="odakpcb logo" class=sponsor width=220vw></a>
        <div style="height: 3em;"></div>
        <br>
        <h1>2021 Sponsorlarımız:</h1>
        <h2>Platin Sponsorlar</h2>
        <a href=https://altunmarket.com><img src=/images/altun.png alt="altun market logo" class=sponsor width=220vw></a><a href=https://istanbul.tugva.org><img src=/images/tugva-istanbul.png alt="tügva logo" class=sponsor width=220vw></a><br>
        <h2>Atölye Sponsoru</h2>
        <a href=https://tugva.org/icathane><img src=/images/icathane.png alt="icathane logo" class=sponsor width=220vw></a><br>
        <h2>Altın Sponsorlar</h2>
        <a href=https://birikimkablo.com><img src=/images/birikimkablo.png alt="birikim kablo logo" class=sponsor width=220vw></a><a href=https://onlinefilament.com><img src=/images/onlinefilament.png alt="onlinefilament logo" class=sponsor width=220vw></a><br>
        <h2>Gümüş Sponsorlar</h2>
        <a href=https://samm.com><img src=/images/samm.png alt="samm market logo" class=sponsor width=220vw></a><br>
      </section>
      {% include './footer.html' %} 
    </div>
  </body>
</html>

