<!DOCTYPE html>
<html lang="en">
  <head>
    {% include './essential.html' %}
    <title>Yönetici Panel</title>
  </head>
  <body>
    <div class="container">
      {% include './navbar.html' %}
      <section>
        <div id="admin-content"></div>
        <script src="/scripts/adminpanel.js"></script>
        <script>
          if (localStorage.getItem("calrovAdminAuthHeader")) {
            fetch("/api/login", { headers: { "Authorization": localStorage.getItem("calrovAdminAuthHeader") } }).then((res) => {
              if (res.status == 200) {
                loadMenu();
              } else {
                loadLogin();
              }
            });
          } else loadLogin();
        </script>
      </section>
      {% include './footer.html' %}
    </div>
  </body>
</html>
