{% extends 'base.html' %}
{% block headers_more %}
<title>İletişim - CALROV</title>
<style>
  main div#iletisimbilgileri {
      font-size: 1.2em;
  }
</style>
{% endblock headers_more %}

{% block content %}
<h1>İletişim</h1>
<div id="iletisimbilgileri">
  <i class="fab">&#xf16d</i> Instagram: <a class="link-not-highlighted" href="https://instagram.com/calrovteam">@calrovteam</a><br />
  <i class="fat">&#x40</i> İletişim için E-Posta: <a class="link-not-highlighted" href="mailto:iletisim@calrovteam.com">iletisim@calrovteam.com</a><br />
  <i class="fat">&#xf657</i> Sponsorluklar için E-Posta: <a class="link-not-highlighted" href="mailto:sponsorluk@calrovteam.com">sponsorluk@calrovteam.com</a><br />
  <i class="fat">&#xf3c5</i> Adres: <a class="link-not-highlighted" href="https://goo.gl/maps/9bi88ENmSpqUb6Go7">Molla Fenari Mah. Bab-ı Ali Cad. No:1 34120 Fatih/İstanbul</a><br />
  <i class="fab">&#xf08c</i> LinkedIn: <a class="link-not-highlighted" href="https://www.linkedin.com/company/calrovteam/">CALROV</a>
</div>
{% endblock content %}

