{% extends 'base.html' %}
{% block headers_more %}
<title>Ana Sayfa - CALROV</title>
{% endblock headers_more %}
{% block content %}
<section class="anasayfa-section">
  <h1>CALROV</h1>
  <a class="scroll-button">Bizi Tanıyın<i class="fat">&#xf078</i></a>
</section>
<section class="anasayfa-section">
  <h1 class="aligned-right">Hakkımızda</h1>
  <p class="aligned-right">Cağaloğlu Anadolu Lisesi İnsansız Su Altı Aracı takımı olan CALROV, 2021 Ocak ayında kuruldu. İlk sene Talay isminde bir manuel kontrollü araç üreten ve Teknofest İnsansız Su Altı Sistemleri Yarışması Temel Kategoriye katıldıktan sonra; 2022'de Bükrek ve Sangal isminde 2 araç üreterek Teknofest'te hem temel hem de ileri kateooride ve ek olarak Singapur AUV Yarışmasına katılmıştır. Bunun dışında Gençbizz Lise Girişimcilik Programına katılarak girişim olma yolunda bir adım atmıştır.</p>
  <a class="scroll-button">Başarılarımız <br /> <i class="fat">&#xf078</i></a>
</section>
<section class="anasayfa-section">
  <h1>Başarılarımız</h1>
  <div>
    <ul style="font-size: 1.2em;">
      <li>Teknofest 2021 İnsansız Su Altı Sistemleri Yarışması, Temel Kategori <u><strong>Birincilik</strong></u> Ödülü</li>
      <li>Teknofest 2021 İnsansız Su Altı Sistemleri Yarışması, Temel Kategori <u><strong>En Özgün Yazılım</strong></u> Ödülü</li>
      <li>GençBizz Lise Girişimcilik Programı 2022, <u><strong>En İnovatif Ürün</strong></u> Ödülü</li>
    </ul>
    <p>Bu başarılarımız sonucunda basında oldukça fazla habere konu olduk. <strong><u><a style="color: #eeeeee; transition: all 0.2s ease;" href="#">Basında Biz <i class="fal">&#xf08e</i></a></u></strong></p>
    <a class="scroll-button">Araçlarımızdan Bükrek <br /> <i class="fat">&#xf078</i></a>
  </div>
</section>
<section class="anasayfa-section">
  <p class="aligned-right">Araçlarımızdan</p>
  <h1 class="aligned-right">Bükrek</h1>
  <p class="aligned-right">Bükrek, hem kumanda ile hem de otonom yazılım ile çalışabilen bir insansız su altı aracı ya da başka bir deyişle bir su altı drone'udur. İsmini Türk mitolojisindeki, Sangal isimli başka bir kötücül su altı ejderhası ile 9 yıl boyunca savaştığı ve kazandığı rivayet edilen, kötü ejderhaların kendisine yaklaşamadığı, iyilik savunucusu bir su altı ejderhası olan Bükrek'ten alır. Güçlü motorları, 11kg ağırlığı, 5 saate varan kullanım sağlayabilen büyük bataryası, hem alt hem üstte bulunan kameraları ve cisimleri tutabilen manipülatör kolu ile tam bir ağırsıklet su altı aracıdır.</p>
  <a class="scroll-button">Araçlarımızdan Sangal <br /> <i class="fat">&#xf078</i></a>
</section>
<section class="anasayfa-section">
  <p>Araçlarımızdan</p>
  <h1>Sangal</h1>
  <p>Sangal, kumanda ile de kullanılabilen ancak otonom yazılımla kullanım için özel olarak tasarlanmış bir insansız otonom su altı aracıdır. İsmini Türk mitolojisindeki, Bükrek ile 9 yıl boyunca savaşan ve kaybeden kötücül bir ejderha olan Sangal'dan alır. Bükrek'e kıyasla daha hafifsıklet olan Sangal, ön tarafındaki insan gözünden ilham alan stereo kamera sistemi, hafif ve küçük gövdesi, tüm eksenlerde hareket kabiliyeti, su altında kaybolan cihazlardaki pingerleri 2 eksende kolayca bulan 3'lü hidrofon sistemi, alt görüş kamerası ve düşük güç tüketimi ile otonom görevler için optimize bir araçtır.</p>
  <a class="scroll-button">Sponsorluk <br /> <i class="fat">&#xf078</i></a>
</section>
<section class="anasayfa-section">
  <h1 class="aligned-right">Sponsorlarımız</h1>
  <p class="aligned-right">Takımımızın araçları üretmek için ihtiyaç duyduğu bütçe sponsorlar aracılığıyla sağlanmaktadır. Siz de takımımızı desteklemek için sponsorlukta bulunabilirsiniz. Daha detaylı bilgi için <a style="color: #eeeeee; transition: all 0.2s ease;" href="/sponsorluk"><strong>sponsorluk sayfamıza</strong> <i class="fat">&#xf08e</i></a> göz atabilirsiniz.</p>
  <div class="sponsors" style="padding-top: 2em;">
    <img class="sponsor" src="/images/gzt.png" alt="gzt logo" />
    <img class="sponsor" src="/images/didimto.png" alt="gzt logo" />
    <img class="sponsor" src="/images/tugva.png" alt="gzt logo" />
    <img class="sponsor" src="/images/infotron.png" alt="gzt logo" />
    <img class="sponsor" src="/images/çözümtek.png" alt="gzt logo" />
    <img class="sponsor" src="/images/odakpcb.png" alt="gzt logo" />
    <img class="sponsor" src="/images/onlinefilament.png" alt="gzt logo" />
  </div>
  <a class="scroll-button">İletişim <br /> <i class="fat">&#xf078</i></a>
</section>
<section class="anasayfa-section">
  <h1>İletişim</h1>
  <p>Instagram: <strong><a style="color: #eeeeee;" href="https://instagram.com/calrovteam">@calrovteam</a></strong><br />
    E-Posta: <strong><a style="color: #eeeeee;" href="mailto:iletisim@calrovteam.com">iletisim@calrovteam.com</a></strong><br />
    E-Posta (sponsorluklar için): <strong><a style="color: #eeeeee;" href="mailto:sponsorluk@calrovteam.com">sponsorluk@calrovteam.com</a></strong><br />
    LinkedIn: <strong><a style="color: #eeeeee;" href="https://www.linkedin.com/company/calrovteam/">CALROV</a></strong><br />
  </p>
</section>
<style>
html {
    scroll-behavior: smooth;
}
section.anasayfa-section h1 {
    font-weight: 400;
    margin: 0;
    font-size: 5em;
}
section.anasayfa-section a.scroll-button {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease;
    font-size: 2.5em;
    cursor: pointer;
}
section.anasayfa-section a:hover {
    color: #c70102 !important;
    transition: all 0.2s ease;
}
section.anasayfa-section p {
    font-weight: 100;
    margin: 0;
    font-size: 1.2em;
}
@media screen and (max-width: 52em) {
    section.anasayfa-section h1 {
        font-size: 2.7em;
    }
    section.anasayfa-section p {
        font-size: 1.1em;
    }
    section.anasayfa-section a.scroll-button {
        font-size: 1.8em;
    }
}
.aligned-right {
    text-align: right;
}
section.anasayfa-section {
    padding: 3em;
    height: calc(100vh - 6em);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-blend-mode: multiply;
    background-color: #444444;
    background-position: center;
}
section.anasayfa-section div.sponsors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
section.anasayfa-section img.sponsor {
    width: 7em;
    height: 7em;
    margin: 0.5em;
}
@media screen and (max-width: 52em) {
    section.anasayfa-section img.sponsor {
        width: 5em;
        height: 5em
    }
}
section:nth-of-type(1){
    background-image: url("/images/tf2021-selcukbayraktar.jpeg");
    height: calc(100vh - 11em);
}
section:nth-of-type(2){
    background-image: url("/images/bahcede-sadik-abi-kucakta.jpg");
}
section:nth-of-type(3){
    background-image: url("/images/tf2021-rte.jpeg");
}
section:nth-of-type(4){
    background-image: url("/images/bükrek.png");
}
section:nth-of-type(5){
    background-image: url("/images/sangal.jpg");
}
section:nth-of-type(6){
    background-image: url("/images/kariyer-fuari.jpg");
}
section:nth-of-type(7){
    background-image: url("/images/gencbizz-ucube-foto.jpg");
    background-color: #222222;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}
</style>
<script>
  document.querySelectorAll("main section.anasayfa-section").forEach((i, index, array) => {
    i.querySelector('a.scroll-button').addEventListener("click", () => {
      scroll(0, array[index+1].getBoundingClientRect().top+window.scrollY);
    });
  });
</script>
{% endblock content %}